
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

}
.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.whole-body{
    background-color: black;
    color: white;
    margin: 57px 190px 32px 190px;
}


.header-body{
    margin: 0 auto;
    width: 100%;
  
    
}

:root{
    --tomato-color:rgb(230, 83, 60);
    --white-color: rgb(255, 255, 255);
    --white-opacity:rgba(255, 255, 255, 0.5);
    --btn-common{
        background-color: rgb(230, 83, 60);
        color: var(--white-color);
        font-size: 18px;
        font-weight: 600;
        border: none;
    }
    
    
}

.btn-common{
    background-color: rgb(230, 83, 60);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 32px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 50px;
  
}
.nav-button{
    width: 92px;
    border-radius: 39px;
    background-color: var(--tomato-color);
    color:var(--white-color);
}

/* Navbar css Starts Here */
.navbar{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-left: -60px;
    gap: 500px;
   
 
}

.nav-list a{
    text-decoration: none;
   
}
.brand-name{
    margin: 0 auto;
    width: 100%;
    color:var(--tomato-color);
    font-size: 36px;
    font-weight: 800;    
    margin-left: 50px;
}


.nav-description{
    color:var(--white-color);
}


.icon{
    width: 30px;
    height: 2px;
    background-color:wheat;
    margin: 6px 0;
}

.wrap{width: 50%;
    margin:0 auto;

}
.wrap{
    display: none;
}




/* Navbar Ends here */

/* Header-body Starts Here */
/* .header-body{
    width: 1440px;
    height: 715px;
    margin: 0 auto;
} */

/* Section title body */
.title-head{
    margin: 0 auto;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
}
.font-shape{
    font-weight: 400;
}

.healthy-section{
    margin: 0 auto;
    width: 100%;
    width: 599.05px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 150px;
    gap: 50px;


}
.title-body h1{
    margin: o auto;
    width: 520px;
    height: 282px;
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;

}
.title-body p{
    color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}
.join-btn{
    width: 224px;
    height: 54px;
    background-color: rgb(230, 83, 60);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-family: Inter;
    

}
.download-btn{
    background-color:none;
    width: 224px;
    height: 54px;
    background-color: black;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    border:1px solid white;
    border-radius: 42px ;
    padding: 16px 40px 16px 40px;
    font-family: Inter;
}
.btn-gap{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.red-circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.three{
color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;

}
.tutor{
color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;

}
.five{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
}
.five-video{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
.five-btn{
    margin: 0 auto;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    margin-left: 210px;
    margin-top: 140px;

   
    }
    .tutor-btn{
        margin: 0 auto;
        width: 206px;
        height: 96px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        display: flex;
        justify-content: space-around;
        align-items: center; 
        position: absolute;
        margin-top: -200px;
        margin-left: -60px;
    }

.bodybuilder{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
  
}

/* section-one starts here */
.section-one-position{
    margin-top: 50px;
    

}


.habits{
    margin: 0 0;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
text-align: center;
}
.habit-description{
    margin: 0 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.four-dimension img{
    margin: 0 auto;
    width: 100%;
width: 200px;
height: 200px;
border: 1px solid white;
border-radius: 100px;
}

.four-dimension-frame{
    margin: 0 auto;
    width: 100%;
    margin-top: 58px;
    display: flex;
    
}
.four-dimension{
    margin: 0 auto;
    width: 231px;
    height: 274px;
}

.four-dimension h3{
margin:0 auto;
margin-top: 15px;
margin-bottom: 0;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
text-align: center;
}
.four-dimension p{
margin: 0 auto;
margin-top: 4px;
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
text-align: center;
}

/* starts Run an Extra Mile Easily section */
.run-title{
        margin: 0 0;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        text-align: left;
}
.run-description{
        margin: 0 0;
        width: 100%;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        text-align: left;
}

.run-div{
    margin: 0 auto;
    width: 100%;
}
.run-div img{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        width: 280px;
        height: 230px;
        border-radius: 15px;
}
.run-div-position{
        margin: 0 auto;
        width: 100%;
        width: 850px;
        height: 325px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 270px;
        margin-top: 100px;
        padding: 15px;
       


}




/* end Run an Extra Mile Easily section */


/* STARTS BMI CALCULATOR */
.bmi-des{
    margin: 0 auto;
    width: 100%;
    width: 671px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bmi-h{
margin: 0 auto;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.bmi-p{
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: left;
}

.chart-head{
    margin: 0 auto;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
}

table{
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(34, 34, 34);
    text-align: left;
    padding: 5px;
    padding-left: 15px;
    border-collapse: collapse;
    
    }

table th{
color: rgb(255, 255, 255);
font: 16px Inter;
font-weight: 500;
border: 1px solid rgba(255, 255, 255, 0.1);
background-color: rgb(34, 34, 34);
text-align: left;
padding: 5px;
padding-left: 15px;

}

table tr td{
    margin: 0;
    font:14px Inter;
    margin: 0px;
    width: 150px;
    height: 20px;
    background-color: rgb(34, 34, 34);
    color:rgba(255, 255, 255, 0.5);
    text-align: left;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
        
}

input{
    margin: 0 auto;
    height: 24px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
    border: 1px;
    border-radius: 5px;
    padding: 2px;
    
    
    

}

#sex{
    margin: 0 auto;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    width: 192px;
    height: 26px;
    margin: 5px;
    border: 1px;
    border-radius: 5px;
    padding: 3px;
    

}
#activity{
    margin: 0 auto;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    width: 400px;
    height: 30px;
    margin: 5px;
    border: 1px;
    border-radius: 5px;
    padding: 3px;
  
    


}



.cal-btn{
    width: 140px;
    height: 43px;
    background-color: rgb(230, 83, 60);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 42px;
    padding: 8px 20px 8px 20px;
    font-family: Inter;

}
.bmi-section{
    margin: 0 auto;
    display: flex;
    flex-direction:space-between;
    justify-content: center;
    align-items: center;

}


.bmi-div{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 34, 34);
}



/* END BMI CALCULATOR */



/* Team section starts here */
.team-des{
    margin: 0 auto;
    width: 100%;
    width: 620px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
    margin-bottom: 10px;
}
.team-h{
    margin: 0 auto;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
}
.team-p{
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.3px;
    text-align:center;
}



.team-container img{
margin: 0 auto;
width: 100%;
width: 270px;
height: 200px;
border-radius:18px;
}
.name-box{
    margin: 0 auto;
    position: absolute;
    margin-top:-55px ;
    margin-left: 15px;


}
.box-name{
margin: 0 auto;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;

}
.box-trainer{
    margin: 0 auto;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

}
.team-container{
    margin: 0 auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 5px;
    padding: 10px;
   

}

/* team-section ends here */

/* start footer section */

.footer-brand-name-div{
    margin-top: -90px;
}
.footer-brand-name{
    margin: 0 auto;
    width: 100%;
    color:var(--tomato-color);
    font-size: 36px;
    font-weight: 800;    
}



.get-started-title{
margin: 0 auto;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
}
.get-started-title li{
margin: 0 auto;

list-style: none;
text-decoration: none;
gap: 20px;
}
.get-started-title li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
font-weight: 400;
line-height: 120%;
}
.whole-footer{
    margin: 0 auto;
    width: 100%;
    width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 20px;
}

.whole-footer-color{
    background: rgba(255, 255, 255, 0.1);
    height: 350px;
}

.under-line{
    color: (255, 255, 255, 0.1)
    
}


.all-right{
text-align: center; 
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
margin-bottom: 20px;
}



/* end footer section */


/* Small Device Responsiveness */

@media screen and (max-width:576px){
    .whole-body{
        background-color: black;
        color: white;
        margin: 0 auto;
    }
    .nav-list{
        display: none;
    }
    .wrap{
        display:block;
     
    }
    .navbar{
        margin: 0 auto;
        display: flex;
        justify-content:space-between ;
        align-items: center;
        gap: 80px;
        margin-left: px;
    }


    .healthy-section{
        margin: 0 auto;
        width: 100%;
        width:350px;
        height: 550px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin-bottom: -160px;}
     

        .title-body h1{
            margin: o auto;
            width: 50%;
            color: rgb(255, 255, 255);
            font-size: 48px;
            font-weight: 700;
            line-height: 120%;
            text-align: left;
            margin-left: 10px;
            margin-bottom: -90px;
          
          
        
        }
        .title-body p{
            margin: 0;
            width: 40%;
            color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: center;
        }

        .join-btn{
            width: 124px;
            height: 44px;
            background-color: rgb(230, 83, 60);
            color: var(--white-color);
            font-size: 10px;
            font-weight: 600;
            border: none;
            border-radius: 42px;
            padding: 8px 20px 8px 20px;
            font-family: Inter;
        
        }
        .download-btn{
            background-color:none;
            width: 124px;
            height: 44px;
            background-color: black;
            color: var(--white-color);
            font-size: 10px;
            font-weight: 600;
            border:1px solid white;
            border-radius: 42px ;
            padding: 8px 20px 8px 20px;
            font-family: Inter;
        }

      
.section-one-position{
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(1,1fr) ;
    margin-top: 550px;
}

.four-dimension-frame{
    margin: 0 auto;
    width: 100%;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    
}
section{
    margin-bottom: 100px;
}

.run-div-position{
    margin: 0 auto;
    width: 100%;
    height: 600px;
    width: 255px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    padding: 10px;
   


}
.team-container{
    margin: 0 auto;
    width: 280px;
    height: 1250px;
    background-color: rgba(255, 255, 255, 0.1);;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;


}


.whole-footer{
    margin: 0 auto;
    width: 100%;
    width: 250px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid; 
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
 

}

.whole-footer-color{
    background:none;
}
.five-btn{
    margin: 0 auto;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    margin-left: 150px;
    margin-top: 180px;

   
    }
    .tutor-btn{
        margin: 0 auto;
        width: 206px;
        height: 96px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        display: flex;
        justify-content: space-around;
        align-items: center; 
        position: absolute;
        margin-top: -200px;
        margin-left: 10px;
    }
    .run-title{
        margin: 0 0;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        text-align: left;
}
.run-description{
        margin: 0 0;
        width: 100%;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
}

.run-div{
    margin: 0 auto;
    width: 100%;
}
.run-div img{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        width: 250px;
        height: 210px;
        border-radius: 10px;
}
       .run-description button{
        margin-left: 60px;
       }

       .bmi-des{
        margin: 0 auto;
        height: 120px;
        height: 671px;
        width: 350px;

        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .team-des{
        margin: 0 auto;
        width: 100%;
        width: 320px;
        height: 120px;
        justify-content: center;
        text-align: center;
        align-items: center;;
    }
    .team-h{
        margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 38px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    }

    .title-body p{
    margin: 0;
    width: 350px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: -150px;

    }
    .title-body h1{
        margin: o auto;
        width: 350px;    
        color: rgb(255, 255, 255);
        font-size: 28px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        margin-bottom: px;
    
    }
    .brand-name{
        margin: 0 auto;
        width: 100%;
        color:var(--tomato-color);
        font-size: 36px;
        font-weight: 800;
        margin-left: 20px;    
       
    }
    .btn-gap button{
        font-size: 12px;
    }
    .run-description button{
        font-size: 20px;
    }


}